
#topbar{
   background: rgb(1, 66, 157);
   border-bottom: 5px solid orangered;
   color: white;
   text-align: center;
}
#topbar img{
   width: 100px !important;
}
#topbar h2{
   font-weight: 800;
}