@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(212, 212, 212); */
  background: rgba(22, 22, 22, 0.205);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
